<!-- Filter Files Container -->
<div class="card m-5">
    <h5 class="card-header bg-dark text-white">Dosya Ara</h5>
    <div class="card-body">
      <div class="row">
        <div class="col"><label for="fileTitleFilter" class="form-label"><b>Dosya Başlığı</b></label></div>
        <div class="col"><label for="fileNoteFilter" class="form-label"><b>Dosya Notu</b></label></div>
      </div>
      <div class="row"> 
        <div class="col"><input #fileTitleFilter type="text" class="form-control border-0 border-bottom rounded-0" name="fileTitleFilter" id="fileTitleFilter" placeholder="Dosya Başlığı" required></div>
        <div class="col"><input #fileNoteFilter type="text" class="form-control border-0 border-bottom rounded-0" name="fileNoteFilter" id="fileNoteFilter" placeholder="Dosya Notu" required></div>
    </div>
      <br>
      <div>
        <div class="float-start w-25">
          <button class="btn btn-success m-2 w-50" (click)="clearModal();" data-bs-target="#fileFeaturesModal" data-bs-toggle="modal">Dosya Ekle</button>
        </div>
        <div class="float-end w-25 row">
          <button (click)="filter()" class="btn btn-dark m-2 w-50 col">Filtele</button>
          <button (click)="clearFilter()" class="btn btn-primary m-2 w-50 col">Temizle</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Add File Modal -->
  <div class="modal fade" id="fileFeaturesModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="fileFeaturesLabel" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="fileFeaturesLabel">Dosya Ekle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-3"><label for="fileTitleModal" class="form-label"><b>Dosya Başlığı:</b></label></div>
            <div class="col-9"><input #fileTitleModal  type="text" class="form-control border-0 border-bottom rounded-0" name="fileTitleModal" id="fileTitleModal" placeholder="Dosya Başlığı" required></div>
          </div><br>
          <div class="row">
            <div class="col-3"><label for="fileNoteModal" class="form-label"><b>Dosya Notu:</b></label></div>
            <div class="col-9"><input #fileNoteModal  type="text" class="form-control border-0 border-bottom rounded-0" name="fileNoteModal" id="fileNoteModal" placeholder="Dosya Notu" required></div>
          </div><br>
          <div class="row">
            <div class="col-3"><label for="fileContentModal" class="form-label"><b>Dosya:</b></label></div>
            <div class="col-9"><input #fileContentModal class="form-control" type="file" id="fileContentModal" accept="application/pdf"></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row w-100">
            <button class="btn btn-danger w-50 col mx-2" data-bs-dismiss="modal" >İptal Et</button>
            <button class="btn btn-success w-50 col mx-2" data-bs-target="#fileFeaturesModalConfirmed" data-bs-toggle="modal" (click)="nextClick()">İleri</button>        
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Package Confirm Modal-->
  <div class="modal fade" id="fileFeaturesModalConfirmed" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="fileFeaturesModalConfirmedLabel" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="fileFeaturesModalConfirmedLabel">Dosya Ekle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col"><label class="form-label"><b>Dosya Başlığı:</b></label></div>
            <div class="col"><label #fileTitleModalConfirm class="form-label"></label></div>
          </div>
          <div class="row">
            <div class="col"><label class="form-label"><b>Dosya Notu:</b></label></div>
            <div class="col"><label #fileNoteModalConfirm class="form-label"></label></div>
          </div>
          <div class="row">
            <div class="col"><label class="form-label"><b>Dosya Adı:</b></label></div>
            <div class="col"><label #fileNameModalConfirm class="form-label"></label></div>
          </div>
        </div> 
        <div class="modal-footer">
          <div class="row w-100">
            <button class="btn btn-primary w-50 col mx-2" data-bs-target="#fileFeaturesModal" data-bs-toggle="modal">Geri Dön</button>
            <button class="btn btn-success w-50 col mx-2"  data-bs-dismiss="modal" (click)="createFile()">Onayla</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Delete File Confirm Modal-->
<div class="modal fade" id="deleteFileModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Dosya Silme</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div #deleteFileModalBody class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary w-25" data-bs-dismiss="modal">Vazgeç</button>
        <button (click)="remove()" data-bs-dismiss="modal" type="button" class="btn btn-danger w-25">Sil</button>
      </div>
    </div>
  </div>
</div>
 <!-- Dinamic File Container-->
 <div >
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="row">
          <div *ngFor="let file of files" class="mb-3 col-6" id={{file.id}}>
            <div class="card">
              <h4 class="card-header bg-muted text-dark">{{file.fileTitle}}</h4>
              <div class="card-body">
                <h5 class="card-title"></h5>
                <div class="row">
                  <div class="col-10">
                    <p class="card-text"><b>Dosya Açıklaması: </b>{{file.fileNote}}</p>
                    <p class="card-text"><b>Sayfa Sayısı: </b>{{file.numberOfPage}}</p>
                  </div>
                  <div class="col-2">
                    <a class="btn btn-primary m-2 w-100" data-bs-target="#updateFileModal" data-bs-toggle="modal" (click)="updateModalFill(file.id);this.updateFileID = file.id">Görüntüle</a>
                    <a class="btn btn-danger m-2 w-100" data-bs-target="#deleteFileModal" data-bs-toggle="modal" (click)="removeBtn(file)">Sil</a>
                  </div>
                </div>
                
              </div>
              <div class="card-footer text-muted">
                <div class="row float-end">
                  <div class="col ms-2"><b>Oluşturma Tarihi: </b> {{file.createdDate}}</div>
                </div>
                <div class="row float-end">
                  <div class="col " *ngIf="file.updatedDate"><b>Son Güncelleme Tarihi: </b> {{file.updatedDate}}</div>
                </div>          
              </div>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </div>
</div>
<!-- File Update Full Screen Modal -->
 <div class="modal fade" id="updateFileModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true" aria-labelledby="updateFileModalLabel" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="updateFileModalLabel">Dosya Güncelle</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-8" #pdfContent>  
            </div>
            <div class="col-4 p-3">
              <div class="bg-muted">
                <label for="fileTitleUpdateModal" class="form-label"><b>Dosya Başlığı</b></label>
                <input #fileTitleUpdateModal  type="text" class="form-control border-0 border-bottom rounded-0 " name="fileTitleUpdateModal" id="fileTitleUpdateModal" placeholder="Dosya Başlığı" required>
                <br>
                <label for="fileNoteUpdateModal" class="form-label"><b>Dosya Açıklaması</b></label>
                <input #fileNoteUpdateModal  type="text" class="form-control border-0 border-bottom rounded-0 " name="fileNoteUpdateModal" id="fileNoteUpdateModal" placeholder="Dosya Açıklaması" required>
                <br>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal-footer">
          <div class="row w-100">
            <button class="btn btn-primary w-50 col mx-2" data-bs-dismiss="modal">Geri Dön</button>
            <button class="btn btn-success w-50 col mx-2"  data-bs-dismiss="modal" (click)="updateFile()">Güncelle</button>
          </div>
        </div>
      </div>
    </div>
  </div>